# Supabase Configuration
VITE_SUPABASE_URL=https://cawchdhjdolihmzmdrnw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhd2NoZGhqZG9saWhtem1kcm53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4NTcxMjIsImV4cCI6MjA3MzQzMzEyMn0.Nh6QjYGgD9mUOcp5_uXSv3CdgoXBQz9dHvvC6CLOzwc
